div {
    margin: 20px;
}

#search {
    background-color: rgba(255, 255, 255, 0.822);
    color: #4cafa7;
    border: 2px solid #4cafa7;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

#search:hover {
    background-color: #4cafa7;
    color: white;
}

#plus {
    border-radius: 50%;
    font-size: large;
    background-color: aquamarine;
    color: white;
}

#create {
    background-color: rgb(5, 137, 219);
    box-shadow: 5px 5px 5px black;
    color: white;
    padding: 5px 25px 5px 25px;
}